schema/xml_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="primary">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="texton" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="texton" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="exterior" use="optional"/>
                            <xs:attribute type="xs:string" name="category" use="optional"/>
                            <xs:attribute type="xs:string" name="color" use="optional"/>
                            <xs:attribute type="xs:string" name="color_delta" use="optional"/>
                            <xs:attribute type="xs:float" name="area" use="optional"/>
                            <xs:attribute type="xs:string" name="centroid" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="exterior" use="optional"/>
                  <xs:attribute type="xs:byte" name="category" use="optional"/>
                  <xs:attribute type="xs:string" name="color" use="optional"/>
                  <xs:attribute type="xs:string" name="color_delta" use="optional"/>
                  <xs:attribute type="xs:float" name="area" use="optional"/>
                  <xs:attribute type="xs:string" name="centroid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="polygon_count"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="secondary">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="texton" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="exterior" use="optional"/>
                      <xs:attribute type="xs:string" name="category" use="optional"/>
                      <xs:attribute type="xs:string" name="color" use="optional"/>
                      <xs:attribute type="xs:string" name="color_delta" use="optional"/>
                      <xs:attribute type="xs:float" name="area" use="optional"/>
                      <xs:attribute type="xs:string" name="centroid" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="polygon_count"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="gradient">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="point" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="color" use="optional"/>
                      <xs:attribute type="xs:string" name="point" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="point_count"/>
            <xs:attribute type="xs:byte" name="point_spacing"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="width"/>
      <xs:attribute type="xs:short" name="height"/>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
